.about {
  flex: auto;
  background: #1da1f2;
  ul {
    list-style-type: none;
    margin-top: 27%;
    li {
      height: 12vh;
      color: #ffffff;
      font: 18px Helvetica Neue;
      & ::before {
        content: '';
        vertical-align: center;
        padding-right: 0.75rem;
      }
    }
  }
}
