.about {
  flex: auto;
  background: #1da1f2;
  ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
    margin-top: 27%;
    padding: 0;

    li {
      height: 12vh;
      color: #ffffff;
      font: 18px Helvetica Neue;
      font-weight: bold;
      & ::before {
        content: '';
        vertical-align: center;
        padding-right: 0.75rem;
      }
    }
  }
}
