.auth {
  flex: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login {
  display: flex;
  margin-top: 10%;

  button {
    border-radius: 90px;
  }
}
.signup {
  margin-top: 10%;
  text-align: center;
  button {
    border-radius: 18px;
    width: 250px;
  }
}

.google-login {
  margin-top: 5%;
  button {
    width: 250px;
    border-radius: 18px;
  }
}
