.auth {
  flex: auto;
  display: flex;
  flex-direction: column;
}

.login {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 5%;
  button {
    border-radius: 10px;
  }
}
.signup {
  margin-top: 23%;
  text-align: center;
  // TODO: Refactored button styles to a common place
  button {
    border-radius: 16px;
  }
}
