.wide-btn {
  height: 36px;
  width: 200px;
  background: #1da1f2;
  color: white;
  font: 18px Helvetica Neue;
  border: 1px solid #1da1f2;
}

.small-btn {
  height: 32px;
  width: 100px;
  color: #1da1f2;
  font: 14px Helevetica Neue;
  border: 1px solid #1da1f2;
}

.credentials {
  display: flex;
  flex-direction: column;

  & > * {
    margin-bottom: 5%;
  }

  a {
    text-decoration: none;
    color: #1da1f2;
  }

  input {
    padding: 4%;
    border-radius: 0.5rem;
    border: 1px solid #1da1f2;
    font-style: italic;
    font-size: 15px;
    width: 25rem;
  }

  .error {
    margin: 0;
    color: red;
    text-align: left;
    margin-top: 0.5rem;
  }
}

.auth-btn {
  margin-left: 22%;
  border-radius: 0.5rem;
}
